header { 
    color: darkred;
}

h3 {
    color: darkslategrey;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bold;
}

li {
    font-family: 'Tangerine', cursive;
    color: darkmagenta;
    font-size: 40px;
}

#firstitem {
    color: red;
}

#firstparagraph {
    color:brown
}

#secondparagraph {
    color: darkblue;
}

p {
    color: black;
}

.center {
    font-weight: bold
}

.headings {
    background-color: blanchedalmond;
}

.list {
    background-color: darkgray;
}